<section id="signup" class="signup">
  <div class="signup-image">
    {{ $guitarist := resources.Get "images/puget_guitarist_home.png" }}
    {{ $guitaristCropped := $guitarist.Fill "600x400 center" }}
    <img src="{{ $guitaristCropped.RelPermalink }}" alt="Musician using Puget Audio tools" width="600" height="400" />
  </div>
  <h2>Get Updates</h2>
  <p class="signup-subtitle">Be first to know when we launch.</p>
  <div class="newsletter-cta signup-cta" data-newsletter-root data-newsletter-variant="homepage">
    <form class="signup-form" data-newsletter-form novalidate>
      <input type="email" name="email" placeholder="Enter your email" required autocomplete="email" data-newsletter-input />
      <button type="submit" class="btn-primary" data-newsletter-submit>Join List</button>
      <p class="puget-notify-error" data-newsletter-error hidden></p>
      <p class="puget-notify-success" data-newsletter-success hidden>You&rsquo;re on the list. We&rsquo;ll be in touch.</p>
    </form>
  </div>
  <p class="signup-note">No spam. Just updates on our progress.</p>
</section>
